---
import { Image } from 'astro:assets'
import Nav from './Nav.astro'
---

<aside
  class='hidden md:block md:h-screen p-16 self-start sticky top-0 col-span-1 bg-indigo-950 text-indigo-200'
>
  <header class='grid justify-items-center'>
    <Image
      height={160}
      width={160}
      src='/img/ricard.png'
      alt=''
      class='h-40 w-40 rounded-full ring-4 ring-indigo-300'
    />
    <p class='text-xl font-thin mt-4'>Ricard Alsina</p>
    <p class='text-white'>@rialsa</p>
  </header>
  <Nav />
</aside>
