---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout subtitle='Full stack web developer' font='font-mono'>
  <!-- <p class='text-2xl'>Full stack web developer</p> -->
  <!-- <p>as</p> -->
  <div class='max-w-[800px] mt-6'>
    <p class='mb-12'>
      Hey there! 👋 I'm a passionate web developer from Barcelona.
    </p>
    <p class='mb-12'>
      I love crafting digital experiences that captivate and inspire. Whether
      it's building sleek websites or developing robust web applications.
    </p>
    <!-- <h2 class='text-xl font-semibold inline bg-indigo-600 text-indigo-200 p-2'>
      Open for freelancing
    </h2> -->
    <p class='mb-12'>
      I'm dedicated to bringing ideas to life in the digital world, and I'm
      currently open for freelancing.
    </p>
    <p></p>
    <div class='flex flex-wrap gap-6 mt-10'>
      <a
        class='border border-green-300
        text-sm font-semibold py-2 px-4 rounded
        hover:text-green-100 hover:border-green-100 hover:bg-green-600 transition-all duration-300 ease-in-out'
        href='/work'>Explore my projects</a
      >
      <!-- <a
      class='text-sm font-semibold hover:text-white hover:bg-blue-600 py-2 px-4 bg-blue-100 rounded'
      href='/work'>Explore my projects</a
    > -->
      <a
        class='border border-green-300
        bg-green-300
        text-black
        text-sm font-semibold py-2 px-4 rounded
        hover:text-green-100 hover:border-green-100 hover:bg-green-600 transition-all duration-300 ease-in-out'
        href='/contact'>Let's colaborate!</a
      >
      <!-- <a
  class='text-sm font-semibold hover:text-white hover:bg-blue-700 py-2 px-4 bg-blue-100 rounded'
  href='/contact'>Let's colaborate!</a
> -->
    </div>
  </div>
</BaseLayout>
